<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/Resources/pfm_logo.png" style="width: 85px; border-radius: 5px;" />&nbsp;
            <label style="font-size:12px;"> Reboot</label>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expense-types">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Expense Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="banks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Banks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bank-accounts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bank Accounts
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

