body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #f3f3f4;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media(min-width: 1450px) {
    .container {
        max-width: 1350px;
    }
}

body
{
    background-color: lightgrey;
    padding-top: 10px;
    font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
}

.navbar-inverse
{
    background-color: lightgrey;
    border: none;
}

.navbar-inverse .container
{
    background-color: #222222;
    border-color: #080808;
}

.navbar
{
    margin-bottom: 0px;
}

.white-bg {
    background-color: #ffffff;
}
.page-heading {
    border-top: 0;
    padding: 0px 10px 20px 10px;
}
.wrapper {
    padding: 0 10px;
    margin-top: 10px;
}
.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
.breadcrumb {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}

.p-md {
    padding: 25px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 0;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.ibox-content {
    clear: both;
    padding-top: 10px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.dd-option-image, .dd-selected-image
{
    width: 40px;
    height: 40px;
}

h2, .h2 {
    font-size: 25px;
}

.table.borderless td, .table.borderless th {
    border: none;
}

.p-lg {
    padding: 30px;
}
.navy-bg, .bg-success {
    background-color: #1ab394;
    color: #ffffff;
}
.red-bg, .bg-danger {
    background-color: #ed5565;
    color: #ffffff;
}
.yellow-bg, .bg-warning {
    background-color: #f8ac59;
    color: #ffffff;
}
.lazur-bg, .bg-info {
    background-color: #23c6c8;
    color: #ffffff;
}
.widget {
    border-radius: 5px;
    padding: 14px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 170px;
    height: 170px;
}
.widget2 {
    border-radius: 5px;
    padding: 14px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.no-padding {
    padding: 0 !important;
}
.p-m {
    padding: 20px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}
.widget .flot-chart {
    height: 100px;
}
.flot-chart {
    display: block;
    height: 200px;
}

#shiva
{
    width: 100px;
    height: 100px;
    background-color: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin:5px;
}
.count
{
    line-height: 100px;
    color:white;
    margin-left:30px;
    font-size:25px;
}
