@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.PageTitle = "";
    ViewBag.FormTitle = "";
}

@section BreadCrumbSection
{
    <li>
        <a href="/AccountManagement/Index">Account Management</a>
    </li>
    <li class="active">
        <strong>@ViewBag.FormTitle</strong>
    </li>
}

@section EditorSection
{
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2" for="csv">Upload CSV</label>
                <div class="col-md-10">
                    <input type="file" id="csv" name="csv" style="padding-top: 7px;" />
                </div>
            </div>
        </div>
    }
}

@section ScriptsSection {

    <script type="text/javascript">
        $("#csv").change(function () {
            console.log("Oh hello");
        });
    </script>
}

