bin
obj
PersonalFinanceManager.csproj.user
/PersonalFinanceManager.Database/PersonalFinanceManager.Database.sqlproj.user
/PersonalFinanceManager.DataAccess/Migrations/201611050727411_InitialCreate.cs
/PersonalFinanceManager.DataAccess/Migrations/201611050727411_InitialCreate.Designer.cs
/PersonalFinanceManager.DataAccess/Migrations/201611050727411_InitialCreate.resx
.vs
ReleaseFolder
general.log
/packages
/PFM.Website/packages
.sonarqube
bank_icons
/*.user
/*.suo
*.user
**idea

**.env
