@page "/expense-types"
@using PFM.Website.Services
@inject ExpenseTypeService ExpenseTypeService
@inject NavigationManager NavigationManager

<PageTitle>Expense Types</PageTitle>

<h1>Expense Types</h1>

<div class="row">
    <div class="col lg-11">
        <p>Manage the expense types to be used when creating new expenses.</p>
    </div>
    <div class="col lg-1" style="text-align: right">
        <div style="text-align: right">
            <button class="btn btn-secondary btn-sm" @onclick="Create">Add new</button>
        </div>
    </div>
</div>

@if (expenseTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <colgroup>
        <col width="3%" />
        <col width="70%" />
        <col width="17%" />
        <col width="10%" />
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Show On Dashboard</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expenseType in expenseTypes)
        {
            <tr>
                <td>
                    <svg width="20" height="10">
                        <rect width="20" height="10" style="fill:#@expenseType.GraphColor;stroke-width:1;stroke:rgb(0,0,0)" />
                    </svg>
                </td>
                <td>@expenseType.Name</td>
                <td>
                    <input id="showOnDashboard" type="checkbox" @bind="@expenseType.ShowOnDashboard" disabled>
                </td>
                <td>
                    <button class="btn btn-light btn-sm" @onclick="(() => Edit(expenseType.Id))"><i class="fa-solid fa-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private PFM.Api.Contracts.ExpenseType.ExpenseTypeList[]? expenseTypes;

    protected override async Task OnInitializedAsync()
    {
        expenseTypes = await ExpenseTypeService.GetAll();
    }

    void Create()
    {
        NavigationManager.NavigateTo("/expense-types/create");
    }

    void Edit(int id)
    {
        NavigationManager.NavigateTo($"/expense-types/edit/{id}");
    }
}

