@page "/"
@using PFM.Website.Services
@using PFM.Website.Models
@inject BankAccountService BankAccountService

<p>Dashboard</p>

<AuthorizeView>
    <Authorized>

        <div class="row">
            <div class="col-lg-8">
                <h1>Dashboard</h1>
            </div>
            @if (selectedBankAccount != null)
            {
                <div class="col-lg-4" style="text-align: left">
                    <div class="alert alert-info" role="alert">
                        <label><strong>Selected account: </strong></label>
                        <br />
                        <label>@selectedBankAccount.BankName - @selectedBankAccount?.Name</label>
                        <br />
                        <label>Balance: @selectedBankAccount?.DisplayedCurrentBalance</label>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        @*<label style="font-size:18px;">Accounts</label>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select id="availableAccounts"></select>
                                </div>
                            </div>*@
                        @*<label style="font-size:18px;margin-top: 8px;">Movements</label>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="/Expenditure/Index">Manage expenses</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="/AtmWithdraw/Index">Manage ATM Withdraws</a>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="/incomes/list/@selectedBankAccount?.Id">Manage incomes</a>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-12">
                                    <a href="/Saving/Index">Manage savings</a>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>


@code {

    private BankAccountListModel? selectedBankAccount;

    protected override async Task OnInitializedAsync()
    {
        selectedBankAccount = await BankAccountService.GetCurrentAccount();
    }
}
