@inherits LineChartExpenseOvertimeBase

<div class="card">
    <div class="card-body">
        <h6 class="card-title">Expenses</h6>
        <p class="card-text">
            @if (ChartConfig != null)
            {
                <Chart Config="ChartConfig"></Chart>
            }
        </p>
    </div>
</div>