<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="PFM_Dependencies" value="https://nuget.pkg.github.com/jm89/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="$PFM_Dependencies_Username" />
            <add key="ClearTextPassword" value="$PFM_Dependencies_Token" />
        </github>
    </packageSourceCredentials>
</configuration>