@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PERSONAL FINANCE MANAGER</h1>
    <p class="lead">Manage monthly expenditures, savings, plan budget...</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Current Account</h2>
        <p>
            List of all expenditures per month basis
        </p>
        <p><a class="btn btn-default" href="/Expenditure/Index?accountId=1">Go To  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plan your budget</h2>
        <p>FUNCTIONALITY TO IMPLEMENT</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dashboard</h2>
        <p>FUNCTIONALITY TO IMPLEMENT</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>*@